@import url('link href="https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet"');
body {
    padding: 0px;
    margin: 0px;
    background: #f2f6e9;
}

.header {
    background-image: url('images/login-background.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.navbar {
    background: #6ab446;
    font-family: Pacifico;
}

.nav-link, .navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color : #000;   
}

.navbar-collapse {
    justify-content: flex-end;
}

.container1 {
    position: absolute;
    top: 180px;
    right:0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    font-family: Dancing Script;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .btn-outline-light {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn-outline-light:hover {
    opacity: 1;
  }

  .page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
    font-family: Dancing Script;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}


@media (max-width: 575.98px) {
    .container1 {
      left: 0;
      padding: 0 15px;
      position: absolute;
      top: 10%;
      transform: none;
      text-align: center;
    }
    
    .container1 h1 {
      font-size: 2em;
    }
    
    .container1 p {
      font-size: 1.2rem;
    }
    
    .features {
      margin: 0;
    }
  }